<button id="myProfBtn" type="button" class="btn btn-outline-dark" style="margin-right: 10px">My profile</button>
<button id="logOutBtn" type="button" class="btn btn-outline-dark" style="margin-right: 10px">Log out</button>