<nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Start typing breed's name:</span>
            <input id="inputSearch" type="text" class="form-control" placeholder="here" aria-label="Name" aria-describedby="basic-addon1">
        </div>
    </form>
</nav>