<button id="RegMeBtn" type="button" class="btn btn-outline-dark" style="margin-right: 10px">Register</button>
<button id="logMeBtn" type="button" class="btn btn-outline-dark" style="margin-right: 10px">Log in</button>