<nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
        <div class="input-group w-50 mx-left">
            <span class="input-group-text" id="basic-addon1">Search country by name</span>
            <input id="inputSearch" type="text" class="form-control" placeholder="type here" aria-label="Name" aria-describedby="basic-addon1">
        </div>
    </form>
</nav>