/*Global styles*/
body{
    display: flex;
    justify-content: center;
}
.container-wrapper{
    display: flex;
    width: 1000px;
    flex-direction: column;
}

/*Nav Styles*/
.header-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #f6c789;
    height: 90px;
    align-items: center;
}

#logo-cooker{
    width: 50px;
    margin-left: 25px;
}
#profile-pic{
    width: 50px;
}
#nav{
    display: flex;
}
.ul-items{
    list-style-type: none;
    display: flex;
    padding-right: 45px;
    align-items: flex-end;
    font-size: 20px;
    justify-content: space-evenly;
    width: 700px;
}
li {
    padding: 5px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 22px;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    /*width: 30px;*/
}
li a:hover{
    color: white;
    border: none;
}
li:hover{
    background-color: #a13336;
    color: white;
}

#profile-pic{
    border-radius: 50%;
}

/*Main part Styles*/
.body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#error-page{
    font-size: 50px;
    color:orangered;
    display: flex;
    justify-content: center;
    align-content: center;
}
.rec-lists{
    display: flex;
    flex-wrap: wrap;

}

/*Filter by ingredients field*/
.ingredients-filter {
    height: 35px;
    margin-top: 20px;
    margin-right: 75px;
    align-self: end;
    justify-content: center;
}
.select-field{
    width: 150px;
    margin-left: 10px;

}

/*Search by recipe title*/
.search-recipe{
    margin-top: 20px;
    align-self: end;
    margin-right: 75px;
}

/*Create Recipe*/
h2{
    margin-top: 50px;
    margin-left: 40px;
}
#create{
    display: flex;
    flex-direction: column;
}

#create-recipe{
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 350px;
}
#submit-new-recipe{
    width: 75px;
}

.rec-input-box{
    width: 200px;
}

/*Card Styles*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    width: 200px;
    margin: 15px;
}
.rec-image-wrapper{
    width: 200px;
}
.rec-image{
    width: 200px;
}
.rec-ingredients{
    margin: 10px;
}
.buttons-box{
    display: flex;
    flex-direction: row;
    /*margin: 10px;*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.rec-buttons{
    background-color: #ED9F32;
    border: 1px solid #ED9F32;
    border-radius: 5px;
    margin: 2px;
    height: 25px;
    font-size: 12px;
}

.buttons-box{
    justify-self: flex-end;
    align-self: baseline;
}

/*User profile Styles*/
#profile{
    justify-content: center;

}
.user-recipes-table{
    padding: 25px;
}
.user-profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.user-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #d5d5d5;
    height: 180px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.input-box{
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.save-btn{
    width: 60px;
    margin-right: 8px;
    align-self: flex-end;
}
.table-cooked-user-profile{
    border: 1px solid #d5d5d5;
}
td {
    border: 1px solid #d5d5d5;
}
.cell-count{
    width: 20px;
}

/*Footer Styles*/
.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: #e89d33;
    justify-content: center;
}
.created-by{
    padding: 10px;
}