<form class="w-50 mx-auto" style="margin-top: 25px">
    <div class="mb-3">
        <label for="registerUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="registerUsername" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="registerPassword">
    </div>
    <div class="mb-3">
        <label for="registerRePassword" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="registerRePassword">
    </div>

    <div id="register-alerts"></div>
    <button id="reg-me-btn" type="submit" class="btn btn-success">Register</button>
</form>
