<div class="card" style="width: 18rem;">
    <img src="{{strTeamBadge}}" class="card-img-top" alt="team-badge">
    <div class="card-body">
        <h5 class="card-title">{{strTeam}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{strStadiumLocation}}</h6>
        <p class="card-text">Part of {{strLeague}}</p>
        <a href="#" class="card-link">Click for more info</a>
    </div>
</div>