<form class="w-50 mx-auto" style="margin-top: 25px">
    <div class="mb-3">
        <label for="loginUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="loginUsername" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Test user: "minka", pass: "123"</div>
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword">
    </div>
    <div id="login-alerts"></div>
    <button id="log-me-btn" type="submit" class="btn btn-success">Log in</button>
</form>
