/*CSS REMOVE DEFAULT*/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}
/*-----------------End of css reset-------------------*/

/*@font-face {*/ /*Not working*/
/*    font-family: AvantGarde;*/
/*    src: url("./assets/century-gothic/ITCAvantGardeStd-BoldObl.otf") format("opentype");*/
/*}*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
}

/*.borders{*/
/*    border: 5px green;*/
/*}*/


/* ------ HEADER ------ */
header {
    height: 100%;
    margin: auto;
    background-color: #F56600;
    width: 100%;
}
#logo-upper-corner {
    height: 28px;
}
#logo-upper-left {
    cursor: pointer;
}
.upper-container {
    display: flex;
    height: 72px;
}
.upper-left-container {
    flex-direction: row;
    width: 50%;
}
.upper-left-logo-container{
    padding: 20px 10px 20px 17px;
}
/*-----Upper right menu-----*/
.upper-right-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: right;

}

.be-courier{
    height: 40px;
    width: 156px;
    /*padding: 0 16px 0 16px;*/
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    font-family: "Helvetica", sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-language{
    width: 24px;
    height: 24px;
    border: 4px solid white;
    border-radius: 50%;
    background-image: url("./assets/bg.svg");
    background-size: 130%;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#bike-logo{
    width: 30px;
    margin-right: 8px;
}

.user-menu-upper-right{
    height: 20px;
    width: 24px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.user-menu-upper-right > .line{
    background-color: white;
    height: 3px;
    display: block;
    margin: 3px;
    border-radius: 1px;
}

/*-----Greeting heading-----*/
.its-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#greeting {
    color: white;
    font-family: 'Helvetica', sans-serif;
    /*font-family: Helvetica, sans-serif;*/
    font-size: 62px;
    font-weight: 600;
    text-align: center;
    padding: 11px 15px 0;
    max-width: 630px;
    /*margin-block-start: 0.67em;*/
    /*margin-block-end: 0.67em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}

#findRestaurants{
     color: white;
     font-family: 'Helvetica', sans-serif;
     font-size: 26px;
     font-weight: 600;
    padding-bottom: 16px;
 }

/*-----Search Field-----*/
.search-field{
    width: 630px;
    height: 48px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
#address{
    font-family: 'Helvetica', sans-serif;
    border: 1px solid white;
    color: white;
    width: 500px;
    background-color: white;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    flex-direction: row;
}
#address::placeholder{
    color: #bebebe;
}
#searchBtn{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    font-weight: 600;
    background-color: #1460C9;
    color: white;
    width: 130px;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}
#searchBtn:hover{
    background-color: #0953BDFF;
}

/*-----Triangle Header-----*/
.subheader{
    position: relative;
    height: 645px;
}
.triangle-header{
    position: absolute;
    z-index: 10;
    height: 145px;
    width: 1500px;
    background: linear-gradient(to bottom right, #F56600 50%, transparent 50%);
}

.big-picture-header {
    position: absolute;
    z-index: 1;
    /*height: 478px;*/
    height: 645px;
    width: 1500px;
    background-image: url("./assets/sushi_light.jpeg");
    background-position-y: 43%;
    max-height: 65vw;
    background-size: cover;
    background-position-x: 50%;
}

/*-----Pop-up User Menu-----*/
.user-panel{
    display: none;
}

/*-----How's Working Steps Menu-----*/
.hows-working{
    padding-bottom: 60px;
    padding-top: 60px;
}
.sub-heading-how{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    font-weight: 300;
    font-stretch: 150%;
    font-size: larger;
    color: black;
    padding-top: 8px;

}

.heading-how{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #f86600;
    padding-top: 8px;
    padding-bottom: 24px;
}

.steps-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}
.steps-arrow{
    width: 24px;
    /*height: 24px;*/
    padding-bottom: 120px;
}
.step{
    width: 327px;
    height: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-badge{
    height: 110px;
    width: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.step-icon{
    height: 110px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.step-image{
    height: 90px;
    display: block;
    z-index: 1;
    position: absolute;
}

.step-number{
    position: absolute;
    z-index: 10;
    top: 70%;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #1260ca;
    color: white;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    border-radius: 35px;
    padding-top: 8px;
}

.step-name{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 16px;
}
.step-info{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    color: #666666;
}

/*---------Download panel----------*/
.download-panel-wrapper {
    height: 466px;
    background-color: #F86E1AFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right-download{
    width: 600px;
    height: 466px;
    margin-left: 40px;
    padding-top: 65px;
}
.right-download > h1 {
    color: white;
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    font-size: 32px;
    padding: 8px;
    background-color: #261e1e;
}
#download-app-heading{
    width: 375px;
    height:52px ;
    margin-bottom: 16px;
}
#choose-rest-heading{
    width: 465px;
    height:50px ;
}
#choose-rest-heading-two{
    width: 120px;
    height:50px ;
    margin-bottom: 30px;
}

.download-links{
    padding-top: 30px;
    cursor: pointer;
}

.left-download{
    height: 466px;
    width: 360px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
#phone-image{
    width: 286px;
    height: 376px;
}

/*---------'All for you' section---------*/
.all-for-you{
    height: 670px;
    background-color: #f7f5f2;
    padding: 60px 56px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.all-for-you-headers{
    height: 98px;
    margin-bottom: 45px;
}
.all-for-you-headers > h3{
    font-size: 22px;
    font-weight: lighter;
    color: #0a3847;
    margin-top: 8px;
    margin-bottom: 16px;
}
.all-for-you-headers > h4{
    font-size: 28px;
    font-weight: bolder;
    color: #f86600;
    margin-top: 8px;
    margin-bottom: 16px;
}

/*Little circles*/
.circles{
    display: flex;
    gap: 210px;
    position: absolute;

}

.circle-for-you{
    width: 90px;
    height: 90px;
    background-color: #f86600;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 0 hsl(0deg 0% 50% / 40%);
    align-self: center;
    margin-left: 90px;
    margin-right: 20px;
    margin-top: -60px;

}
.img-icon-circle{
    padding-top: 20px;
    width: 45px;
}

/*card design*/
.all-for-you-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-for-you{
    width: 306px;
    height: 350px;
    border: 1px solid #f8f5f2;
    padding: 16px;
    margin: 0 16px 0 16px;
    box-shadow: 2px 2px 10px 0 hsl(0deg 0% 50% / 40%);
    background-color: #fff;


}
.all-fy-name{
    color: #0a3847;
    font-weight: bold;
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tick-section{
    display: flex;
    flex-direction: column;
    /*height: 350px;*/
}
.tick-single-wrap{
    display: flex;
    flex-direction: row;
}

.tick-image{
    width: 25px;
}
.tick-text{
    width: 221px;
    text-align: left;
    padding: 0 8px 16px 8px;
    font-weight: lighter;
    font-size: 15px;
    color: #5e5e5e;
    display: flex;
    flex-direction: column;
}

/* ------ FOOTER ------ */
footer {
    background-color: #0a3847;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 2106px;
    align-items: center;
    padding-top: 40px;
    padding-left: 52px;
    padding-right: 52px;
}

.logo-footer{
    width: 324px;
    height: 62px;
    margin-bottom: 56px;
}

.follow{
    height: 90px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: 850;
    font-size: smaller;
    margin-bottom: 88px;
}
.follow-us {
    height: 48px;
}
.icons{
    width: 422px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social > a > img {
    height: 22px;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
}
.social > a:hover {
    height: 26px;
    cursor: pointer;
}

.lists{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;

}
.footer-list-links{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.list-title{
    height: 48px;
    font-weight: bold;
    margin-top: 25px;
}

.link-foot{
    height: 48px;
}
.link-foot {
    cursor: pointer;
}

.link-foot:hover{
    text-decoration: underline;
    color: white;
}

hr{
    background-color: #7a8b93;
    height: 1px;
    width: 97%;
}

.footer-links{
    color: #fefefe;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-last-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.last-links{
    margin-left: 30px;
    padding-top: 20px;
}

#copyright{
    align-self: center;
    margin-top: 20px;
}

/* ------ USER PANEL -------*/
